{
  "branches": [
    "master"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "./target/release/HamVerBot",
            "label": "HamVerBot"
          }
        ]
      }
    ],
    [
      "@semantic-release/exec",
      {
        "verifyCmd": "semantic-release-rust verify-conditions",
        "prepareCmd": "semantic-release-rust prepare ${nextRelease.version}"
      }
    ]
  ]
}
