{
  "branches": [
    "master"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "./target/release/HamVerBot_*"
          }
        ]
      }
    ],
    [
      "@semantic-release/exec",
      {
        "verifyCmd": "semantic-release-rust verify-conditions",
        "prepareCmd": "semantic-release-rust prepare ${nextRelease.version}"
      }
    ]
  ]
}
